@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
    font-family: "Manrope", "sans-serif";
}


.container {

    width: 487px;
    height: 297px;
    margin: auto;
    margin-top: 205px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    border: 1px solid hsl(217, 19%, 24%);








}

.adid {

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;



}

.advice {

    margin-top: 32px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    color: hsl(193, 38%, 86%);

}

.pattern {

    position: relative;
    top: 40px;

    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;

}

.dice {

    background-color: hsl(150, 100%, 66%);

    background-position: center center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    top: 472px;
    margin-left: 213px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



}

.btn {
    width: 20px;
    height: 20px;
    background-image: url("images/icon-dice.svg");
    background-repeat: no-repeat;


}